# Paste your Google Maps browser key here to enable the live map.
VITE_GOOGLE_MAPS_API_KEY=
VITE_GOOGLE_MAPS_MAP_ID=
# Paste your deployed Soroban contract id here after deployment.
VITE_GEOVERIFY_CONTRACT_ID=
VITE_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
VITE_STELLAR_NETWORK=TESTNET
VITE_STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
# Native XLM SAC — Testnet icin: stellar contract asset deploy --asset native ...
# Testnet native XLM SAC adresi genellikle: CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
VITE_XLM_SAC_ADDRESS=
